# Arquivos e diretórios Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
env/

# Arquivos de configuração local
.env

# Arquivos de log
*.log

# Arquivos de banco de dados
*.db
*.sqlite3

# Arquivos de sistema
.DS_Store
Thumbs.db